body {
  background-color: #0302D8D9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.loginform {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 0;
  gap: 5px;
}
input {
  display: block;
  width: 100%;
  border-radius: 26px;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  border: 2px solid #1D72D0;
}
.btn {
  display: block;
  border-radius: 25px;
  border: 2px solid #9FB277;
  outline: none;
  font-size: 15px;
  width: 30%;
  margin-left: 30px;
  cursor: pointer;
  height: 30px;
  background-color: #6FD4E6;
}
.btn:hover {
  color: #153A9A;
  transform: scale(1.05);
}
.topbar {
  background: skyblue;
  position: relative;
  display: flex;
  padding: 20px;
}
.logofb {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-left: 140px;
}
a {
  color: #CAAFD3;
  text-decoration: none;
  padding: 10px 0;
  cursor: pointer;
}
.logo {
  font-size: 40px;
  font-weight: 1000;
  font-style: oblique;
}
.menu {
  display: none;
  position: absolute;
  right: 15px;
  top: 65%;
}
.tombol {
  font-size: 30px;
  margin-left: auto;
  background: none;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}
.menu.active {
  display: flex;
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  background-color: red;
  align-items: center;
  padding-left: 0;
}